fastapi==0.115.5
pydantic[email]==2.10.3
uvicorn[standard]==0.32.1
pydantic-settings==2.6.1
slowapi==0.1.9
python-multipart==0.0.12
motor==3.6.0
beanie==1.27.0
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
boto3==1.35.76
mutagen==1.47.0
